.git
.github

vendor
node_modules

.env
.env.*
!.env.example
!.env.docker.example

/public/build
/public/hot
/public/storage

/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

/bootstrap/cache/*.php

npm-debug.log
yarn-error.log

*.zip
*.rar
*.7z

*_BACKUP.php
*_BACKUP.*
*.tmp
*.temp